@model User

@if (ViewBag.PasswordIsChanged == true)
{
    <h2 class="text-center" style="font:bold; font-family:'Courier New'">Пароль успешно изменён</h2>
    <hr class="m-4" />
    @await Html.PartialAsync("UserDetails")
}
else
{
    <h2 class="text-center" style="font:bold; font-family:'Courier New'">Что-то пошло не так...</h2>
    <h5 class="text-center" style="font:bold; font-family:'Courier New'">Проверьте данные пользователя, для которого нужно изменить пароль</h5>
    <hr class="m-4" />
    <div class="text-left">
        <a class="btn btn-outline-dark" asp-area="Admin" asp-controller="Users" asp-action="Details"><i class="bi bi-arrow-return-left"></i></a>
    </div>
}



