@model Product

@if (ViewBag.CartElement == null)
{
    <a class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Добавить в корзину" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-pageNumber="@ViewBag.PageNumber" asp-route-productId="@Model.Id"><i class="bi bi-basket"></i></a>
}
else
{
    <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="В Корзине"><i class="bi bi-bag-check-fill"></i></button>
}
