<div class="text-center" style="font:bold; font-family:'Courier New'">
    <h1>Результаты поиска по запросу "@ViewBag.SearchKey"</h1>
</div>
<div class="m-3"></div>

@await Html.PartialAsync("ProductCatalogue")
