<div class="text-center">
    <h2>@Model.Name</h2>
    <h5>@Model.Cost рублей</h5>
    <p>Продолжительность: @Model.Duration мин</p>
</div>
<div class="text-left">
    <p>@Model.Description</p>
</div>
