<div class="col-3">
    <div class="row">
        <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="border-dark">Заказы</a>
    </div>
    <div class="row">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="border-dark">Пользователи</a>
    </div>
    <div class="row">
        <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="border-dark">Роли</a>
    </div>
    <div class="row">
        <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="border-dark">Продукты</a>
    </div>
</div>
